.LinkDescription {
    color: black;
}

.ProductContainer {
    width: 43vw;
    height: 60vw;
    margin-top: 3vw;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, 0.705);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    
    
}
.ProductContainer:hover{
    transform: translatey(-15px);
    box-shadow: 0 12 px 16 px rgba (0, 0, 0, 0.2);
  
  }



.ProductNameContainer {
    position: absolute;
    width: 40vw;
    height: 10vw;
    margin-top: 0vw;
    margin-left: 1.5vw;
    text-align: center;
}

.ProductName {
    margin-top: 2vw;
    font-size: 5vw;
    color: black;
}

.ProductImage {
    position: absolute;
    width: 50vw;
    height: 50vw;
    margin-top: 14vw;
    margin-left: 6.5vw;
    border-radius: 50%;
    
    
}

.PImage {
    position: absolute;
    width: 65%;
    height: 65%;
    border-radius: 50%;
}

.ProductPriceContainer {
    position: absolute;
    width: 40vw;
    height: 10vw;
    margin-top: 47vw;
    margin-left: 1.5vw;
}
.ProductDescription{
    font-size: 2vw;
    color: black;
    margin-top:  8vw;
    margin-left: 10vw;
    position: absolute;
}